# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/
pip-selfcheck.json

# Secrets / credentials
*.env
auth_mapping.json

# Editor/IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

*.log
.env
